.table-holder
  .thead-white.text-nowrap.gl-responsive-table-row.table-row-header{ role: 'row' }
    .table-section.section-40{ role: 'rowheader' }= _('Owner')
    .table-section.section-30{ role: 'rowheader' }= _('Scope')
    .table-section.section-10{ role: 'rowheader' }= _('Created On')
    .table-section.section-10{ role: 'rowheader' }= _('Expiration')
    .table-section.section-10{ role: 'rowheader' }= _('Revoked')

  = render partial: 'shared/credentials_inventory/personal_access_tokens/personal_access_token', collection: credentials
